<%= stylesheet_link_tag 'admin/residents' %>

<div class="container">
 <h4>ユーザー詳細</h4>
  <div class="show-contents">
    <table class="table table-striped">
      <tr>
        <th>名前</th>
        <td>
          <%= @user.last_name + @user.first_name %>
        </td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td>
          <%= @user.last_name_kana + @user.first_name_kana %>
        </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      <tr>
        <th>会費ステータス</th>
        <td>
          <% if @user.fee_status == false %>
            <p>会費未徴収</p>
            <% else %>
              <p>会費徴収済み</p>
              <% end %>
        </td>
      </tr>
    </table>
  </div>
    <div class="actions">
      <%= link_to "編集する", edit_admin_resident_path(@user), class: 'btn btn-warning'%>
      <%= link_to "一覧に戻る", admin_residents_path, class: 'ml-2 btn btn-primary'%>
    </div>
</div>