<div class="container col-md-6 mt-4 mb-5">
  <h5 class="mb-5 text-center">管理者ログイン</h5>
  <div style="width:1000px" >
  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <div class="field row mb-2">
      <%= f.label :メールアドレス, class: "col-3" %>
        <%= f.text_field :email, class: "col-3 form-control form-control-sm", placeholder: "sample@gmail.com" %>
    </div>
    <div class="field row mb-4">
      <%= f.label :パスワード, class: "col-3" %>
        <%= f.password_field :password, class: "col-3 form-control form-control-sm" %>
    </div>
    <div class="field row mb-4">
      <div class="col-3"></div>
      <div class="actions text-center">
        <%= f.submit "はじめる", class: 'btn btn-outline-primary btn-md'%>
      </div>
    </div>
    <% end %>
  </div>
</div>