<div class="container">
  <%= form_with model: @admin, url: admin_session_path do |f| %>
  
  <div class="field row mb-2">
    <%= f.label :メールアドレス, class: "col-3" %>
    <%= f.text_field :email, class: "col-3 form-control form-control-sm", placeholder: "sample@gmail.com" %>
  </div> 
  <div class="field row mb-2">
    <%= f.label :パスワード, class: "col-3" %>
    <%= f.password_field :password, class: "col-3 form-control form-control-sm" %>
  </div>
  <div class="field row mb-2">
    <%= f.submit "ログイン", class: 'btn btn-success btn-md'%>
  </div>
  
<% end %>
</div>