<%= stylesheet_link_tag 'homes' %>
  
<div class="container">
 <h4>地域情報をいち早くキャッチ</h4>
  <div class="logo-content">
   <%= image_tag "logo.jpg" , size: "220x220" %>
  </div>
    <div class="btn-wrapper">
     <div class="field">
      <div class="form">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-warning btn-sm btn-block" %>
      </div>
      <div class="form">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-warning btn-sm btn-block" %>
      </div>
     </div>
     <div class="field">
      <div class="form">
        <%= link_to "ゲストログイン", user_guest_sign_in_path, class: "btn btn-outline-warning btn-sm btn-block", method: :post %>
      </div>
      <div class="form">
        <%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-outline-warning btn-sm btn-block" %>
      </div>
     </div>
  </div>
</div>