
<%= stylesheet_link_tag 'user/posts' %>
<div class="container">
  <div class="top-contents">
  
    <h4>この子たちをみかけませんでしたか？？</h4>
    <div class="input-group">
         
        <%= search_form_for @q, url: search_user_posts_path do |f| %>
       
          <%= f.search_field :title_cont, class: "form-control form-control-sm" ,placeholder: "キーワードを入力" %>
        
          <%= f.submit "検索", class: "ml-2btn btn-outline-dark btn-sm" %>
        <% end %>
    </div>
   
      <div class="btn-wrapper">
      <%= link_to "登録する",  new_user_post_path, class: "btn btn-outline-warning btn-sm btn-block mb-3" %>
    
     </div>
     
  </div>
   <div class="index-contents">
    <div class="item-box">
      <% @posts.each do |post|%>
        
          <%= link_to user_post_path(post) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "270x160" %><br>
                <% else %>
                  <%= image_tag 'no_image', size: "270x160" %><br>
                    <% end %>
                      <p class="overflow-wrap">
                        <%= post.title %>
                      </p>
                     
                      <% end %>
        
        <% end %>
    </div>
  </div>
  <%#ページネーション%>
    <div class="row pr-5 mb-2 justify-content-end">
      <%= paginate @posts %>
    </div>
</div>