<div class="container">
  <div class="top-title row">
    <h4 class="text-center">この子たちをみかけませんでしたか？？</h4>
    <div class="btn-wrapper col-2">
      <%= link_to "うちの子をさがす",  new_user_post_path, class: "btn btn-outline-secondary btn-sm btn-block mb-3" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 d-flex flex-wrap bd-highlight">
      <% @posts.each do |post|%>
        <div class="col-sm-5 mx-auto">
          <%= link_to user_post_path(post) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "270x160" %><br>
                <% else %>
                  <%= image_tag 'no_image', size: "270x160" %><br>
                    <% end %>
                      <p class="overflow-wrap">
                        <%= post.title %>
                      </p>
                      <% end %>
        </div>
        <% end %>
    </div>
  </div>
  <%#ページネーション%>
    <div class="row pr-5 mb-2 justify-content-end">
      <%= paginate @posts %>
    </div>
</div>