<%= stylesheet_link_tag 'user/posts' %>

<div class="container">
  
 <h4>この子たちをみかけませんでしたか？？</h4>
  <div class="top-contents">
   <div class="search-group">
    <%= search_form_for @q, url: search_user_posts_path do |f| %>
      <div class="search_field_wrapper">
        <div class="search_field">
          <%= f.search_field :title_cont, class: "form-control form-control-sm" , placeholder: "検索ワードを入力" %>
        </div>
        <div class="search_btn">
          <%= f.submit "検索", class: "btn btn-info btn-sm" %>
        </div>
      </div>
    <% end %>
   </div>
    
   <div class="btn-wrapper">
    <%= link_to "登録する",  new_user_post_path, class: "btn btn-warning btn-sm btn-block mb-3" %>
   </div>
  </div>
  
  <div class="index-contents">
   <% @posts.each do |post|%>
    <div class="post-box">
      <%= link_to user_post_path(post) do %>
        <% if post.image.attached? %>
        <%= image_tag post.image, size: "270x160" %><br>
        <% else %>
        <%= image_tag asset_path('no_image', size: "270x160") %><br>
        <% end %>
        <p><%= post.title %></p>
      <% end %>
    </div>
   <% end %>
  </div>

  <%#ページネーション%>
    <div class="pagenate">
     <%= paginate @posts %>
    </div>
</div>