<%= stylesheet_link_tag 'user/posts' %>
  <div class="container">
    <h4>うちの子登録</h4>
    <div class="row justify-content-center pt-2">
      <%= form_with model: @post, url: user_posts_path do |f| %>
        <div class="form-group">
          <%= f.label :投稿画像 %>
            <%= f.file_field :image, accept: "image/*" , class: "col-10" %>
        </div>
        <div class="form-group">
          <%= f.label :タイトル %>
            <%= f.text_field :title , class: "col-7 form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :特徴 %>
            <%= f.text_area :body ,class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit '登録する', class: "btn btn-outline-warning" %>
        </div>
        <% end %>
    </div>
  </div>