<%= stylesheet_link_tag 'user/posts' %>
  
<div class="container">
 <h4>検索結果はこちらです</h4>
  <div class="index-contents">
   <% if @results.length != 0 %>
    <% @results.each do |post| %>
     <div class="post-box">
      <%= link_to user_post_path(post) do %>
       <%= image_tag post.image, size: "270x160" %><br>
        <h5><%= post.title %></h5>
      <% end %>
     </div>
    <% end %>
    <% else %>
      <h5>検索結果はありません</h5>
   <% end %>
  </div>
    
    <%#ページネーション%>
    <div class="paginate">
     <%= paginate @results %>
    </div>
</div>