<%= stylesheet_link_tag 'user/posts' %>
<div class="container">
  <h4>うちの子詳細</h4>
  
    <div class="show-contents">
      <div class="left-contents">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "270x160" %>
            <% else %>
              <%= image_tag 'no_image', size: "270x160" %>
                <% end %>
                  <table class="table-item">
                    <tr>
                      <th>投稿者</th>
                       
                    </tr>
                    <tr>
                      <td>
                        <%= @post.user.last_name %>
                          <%= @post.user.first_name %>さん 
                      </td>
                    </tr>
                    <tr>
                      <th>タイトル</th>
                      
                    </tr>
                    <tr>
                      <td>
                        <%= @post.title %>
                      </td>
                    </tr>
                    <tr>
                      <th>特徴</th>
                    </tr>
                    <tr>
                      <td>
                        <%= @post.body %>
                      </td>
                     
                    </tr>
                    <tr>
                    <th class="check_btn">
                        <%= render "user/checks/form", post: @post %>
                      </th>
                      </tr>
                  </table>
                  <div class="form-group">
                    <% if  @post.user == current_user %>
                      <%= link_to "削除する", user_post_path(@post), class: "btn btn-danger btn-sm ", method: :delete, data: {confirm: "本当に削除しますか？"} %>
                        <% end %>
                  </div>
      </div>
      <div class="right-contents">
        <%= render 'user/post_comments/form', post: @post, post_comment: @post_comment %>
          <div class="post-comments-index">
            <%= render 'user/post_comments/index', post: @post %>
          </div>
      </div>
    </div>
  
</div>