<div class="container mb-5">
  <h5 class="mb-4 text-center">うちの子詳細</h5>
  <div style="width:1000px">
    <div class="d-flex mx-auto pt-2">
      <div class="col-md-6 ml-auto">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "270x160" %>
            <% else %>
              <%= image_tag 'no_image', size: "270x160" %>
                <% end %>
                  <table class="table-item">
                    <tr>
                      <th>投稿者</th>
                    </tr>
                    <tr>
                      <td>
                        <%= @post.user.last_name %>
                          <%= @post.user.first_name %>さん </td>
                    </tr>
                    <tr>
                      <th>タイトル</th>
                    </tr>
                    <tr>
                      <td>
                        <%= @post.title %>
                      </td>
                    </tr>
                    <tr>
                      <th>特徴</th>
                    </tr>
                    <tr>
                      <td>
                        <%= @post.body %>
                      </td>
                    </tr>
                  </table>
                  <div class="field row mt-2">
                    <% if  @post.user == current_user %>
                      <%= link_to "削除", user_post_path(@post), class: "btn btn-outline-danger btn-sm ", method: :delete, data: {confirm: "本当に削除しますか？"} %>
                        <% end %>
                  </div>
      </div>
      <div class="comment-container">
        <%= render 'user/post_comments/form', post: @post, post_comment: @post_comment %>
          <div class="post-comments-index">
            <%= render 'user/post_comments/index', post: @post %>
          </div>
      </div>
    </div>
  </div>
</div>