<div class="container px-5 px-sm-0">
  <h5 class="text-center">うちの子詳細情報</h5>
  <div class="row pt-5">
    <div class="col-md-7">
      <% if @post.image.attached? %>
        <%= image_tag @post.image, size: "270x160" %>
          <% else %>
            <%= image_tag 'no_image', size: "270x160" %>
              <% end %>
                <div class="col-md-6 justify-content-center">
                  <table class="table-item m-3">
                    <tr>
                      <th>タイトル</th>
                    </tr>
                    <tr>
                      <td>
                        <%= @post.title %>
                      </td>
                    </tr>
                    <tr>
                      <th>特徴</th>
                    </tr>
                    <tr>
                      <td>
                        <%= @post.body %>
                      </td>
                    </tr>
                  </table>
                  <div class="btn-wrapper col-5">
                    <% if  @post.user.id == current_user.id %>
                      <%= link_to "削除", user_post_path(@post), class: "btn btn-outline-danger", method: :delete, data: {confirm: "本当に削除しますか？"} %>
                        <% end %>
                  </div>
                </div>
    </div>
    <div class="comment-container col-md-5">
      <%= render 'user/post_comments/form', post: @post, post_comment: @post_comment %>
        <div class="post-comments-index">
          <%= render 'user/post_comments/index', post: @post %>
        </div>
    </div>
  </div>
</div>