<% visitor = notification.visitor %>
  <% visited = notification.visited %>
    <li class="list-group-item">
      <% case notification.action %>
      <% when 'post' then %>
      <h5>うちの子探してます！！より新着投稿があります</h5>
      <p><strong><%= notification.post.user.last_name%>さん</strong>が投稿しました  <%= notification.post.title%></p>
      
      <% when 'comment' then %>
      <h5>うちの子探してます！！より新着コメントがあります</h5>
      <p><%= notification.visitor.last_name%>さんがあなたの投稿にコメントしました！</p>
      
       
      <% when 'event' then %>
        <h5>運営部より新着イベントがあります</h5>
        <p><%= notification.event.title%></p>
      <% end %>
      <p class="n-time"></p><%= time_ago_in_words(notification.created_at).upcase %>前</p>  
   </li>
   
  