<div class="container page-header"> 
  <%= link_to user_root_path do %>
    <%= image_tag 'header.logo.jpg', class: "logo" %>
  <% end %>
   <div class="menu-box">
				<span class="list-bar"></span>
				<span class="list-bar"></span>
				<span class="list-bar"></span>
			</div>
   <nav>
    <ul class="navbar">
     <li class="nav-list">
       <%= link_to 'マイページ', user_my_page_path %>
     </li>
     <li class="nav-list">
       <%= link_to 'イベント・防災情報',user_about_path %>
     </li>
     <li class="nav-list">
       <%= link_to 'うちの子探してます！', user_posts_path %>
     </li>
     <li class="nav-list">
       <%= link_to 'お知らせ', user_notifications_path %>
       <% if unchecked_notifications.any? %>
     <i class="far fa-bell"></i>
       <% end %>
     </li>
     <li class="nav-list">
       <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
     </li>
    </ul>
  </nav>
 </div>


